* {
    justify-items: center;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/236x/66/b2/1b/66b21b38e0c4263ee1713070b6ce0671.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #494747;
    padding: 9px;
    font-size: 25px;
    width: 100vw;
    text-align: center;
    color: aliceblue;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
}

.login-box {
    color: white;
    background-color: hsla(201, 100%, 6%, 0.6);
    border-radius: 10px;
    padding: .1em .5em;
}

.input {
    margin-bottom: 20px;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsla(201, 100%, 6%);
    border-radius: 5px;
    color: white;
    outline: none;
    font-size: 1.5em;
    font-weight: lighter;
}

#img{
    position:fixed ;
    top: 2px;
    left: 10px;
    width: 50px;
    height: 50px;
}

a {
    margin-bottom: 20px;
}

label {
    font-size: 15px;
    text-align: left;
    color: blanchedalmond;
}

button {
    width: 100%;
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsla(201, 100%, 50%);
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 10px 30px;
    margin-bottom: 20px;
}

footer {
    background-color: #eee6e6;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}